<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1051146828961-q9fj2aar9nikbuv2b41qkcejnfst9l5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051146828961-q9fj2aar9nikbuv2b41qkcejnfst9l5l</string>
	<key>API_KEY</key>
	<string>AIzaSyBVmPlxylwXDo9qyqOXtM2NYIjl_hSL6Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>1051146828961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tapizquent.TeamUpApp</string>
	<key>PROJECT_ID</key>
	<string>teamuppapp</string>
	<key>STORAGE_BUCKET</key>
	<string>teamuppapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051146828961:ios:f035669a96816748</string>
	<key>DATABASE_URL</key>
	<string>https://teamuppapp.firebaseio.com</string>
</dict>
</plist>